

<div class="float-bar">
    <div class="float-bar-item" onclick="{ window.location.href = '/list?cid=74' }">
        <img src="~/web_images/addressbookicon.png" />
        <img src="~/web_images/addressbookicon-white.png" style="display: none" />
        <div style="margin-left: 0.37rem">
            <div class="fw-bold" style="font-size: 0.18rem">公司简介</div>
            <div style="font-size: 0.12rem">COMPANY PROFILE</div>
        </div>
        <img src="~/web_images/index_07.jpg" />
        <img src="~/web_images/nextbtn-red.png" />
    </div>
    <div class="float-bar-item" style="" onclick="{ window.location.href = '/list?cid=75' }">
        <img src="~/web_images/penicon.png" />
        <img src="~/web_images/penicon-white.png" style="display: none" />
        <div style="margin-left: 0.37rem">
            <div class="fw-bold" style="font-size: 0.18rem">企业文化</div>
            <div style="font-size: 0.12rem">CORPORATE CULTURE</div>
        </div>
        <img src="~/web_images/index_07.jpg" />
        <img src="~/web_images/nextbtn-red.png"/>
    </div>
    <div class="float-bar-item" onclick="{ window.location.href = '/list?cid=76' }">
        <img src="~/web_images/medalicon.png" />
        <img src="~/web_images/medalicon-white.png" style="display: none" />
        <div style="margin-left: 0.37rem">
            <div class="fw-bold" style="font-size: 0.18rem">荣誉资质</div>
            <div style="font-size: 0.12rem">HONOR&QUALIFICATION</div>
        </div>
        <img src="~/web_images/index_07.jpg" />
        <img src="~/web_images/nextbtn-red.png" style="display: none"/>
    </div>
    <div class="float-bar-item" style="border-right:none" onclick="{ window.location.href = '/list?cid=70' }">
        <img src="~/web_images/groupicon.png" />
        <img src="~/web_images/groupicon-white.png" style="display: none" />
        <div style="margin-left: 0.37rem">
            <div class="fw-bold" style="font-size: 0.18rem">技术服务</div>
            <div style="font-size: 0.12rem">TECHNICAL SERVICE</div>
        </div>
        <img src="~/web_images/index_07.jpg" />
        <img src="~/web_images/nextbtn-red.png"/>
    </div>
</div>
