.zy_banner img{
    width:100%;
    vertical-align:top;
    height:fit-content;
}
.pc_content{
    width:100%;
    background:#f1f1f1;
    font-size:16px;
}
.pc_box{
    position:relative;
}
.pc_content .list_content{display:flex;width:100%;min-height:5rem;margin-top:30px;margin-bottom:40px}
.pc_content .list_content .left_daoh{float:left;min-width:250px;}
.pc_content .list_content .left_daoh .title{height:0.57rem;line-height:0.57rem;background:#e50017;font-size:0.24rem;color:#fff;text-align:center;margin-bottom:2px;}
.pc_content .list_content .left_daoh .yiji ul li{margin-bottom:1px;}
.pc_content .list_content .left_daoh .yiji ul li .tit{height:0.42rem;background:#cdcdcd;font-size:0.18rem;text-align:center;line-height:0.42rem;}
.pc_content .list_content .left_daoh .yiji ul li.on .tit{background:#3e3e3e;margin-bottom:1px;}
.pc_content .list_content .left_daoh .yiji ul li.on a .tit{color:#fff;}
.pc_content .list_content .left_daoh .yiji ul .erji ul li{margin-bottom:0;}
.pc_content .list_content .left_daoh .yiji ul .erji ul li .tit{height:0.42rem;background:#5c5c5c;line-height:0.42rem;color:#fff; margin-bottom:0;}
.pc_content .list_content .left_daoh .yiji ul .erji ul li.on .tit{font-weight:bold;}
.pc_content .list_content .left_daoh .lxwm{padding:0.45rem 0.2rem;}
.pc_content .list_content .left_daoh .lxwm .tit{font-size:0.14rem;color:#999999;background:url(../web_images/sj_dh_08.jpg)no-repeat;
    background-size:10%;
    background-position:0.05rem center;
    height:0.24rem;
    line-height:0.24rem;
    text-align:center;
    margin-bottom:0.1rem;
}
.pc_content .list_content .left_daoh .lxwm .tel{
    font-size:0.2rem;
    font-weight:bold;
    text-align:center;
    margin-bottom:0.2rem;
}
.pc_content .list_content .left_daoh .lxwm .btn{
    display:flex;
    justify-content:center;
}
.pc_content .list_content .left_daoh .lxwm .btn a{
    display:block;
    background:url(../web_images/gsjj_07.jpg);
    background-size:100% 100%;
    width:1.2rem;
    height:0.4rem;
    line-height:0.4rem;
    font-size:0.16rem;
    text-align:center;
    color:#e50017;
}

.pc_content .list_content .right_content{width:100%;background-color:white;margin-left:35px}
.pc_content .list_content .right_content .path{height:90px;padding-right:20px;line-height:0.56rem;color:#dedede;border-bottom:solid #dedede 1px;display:flex;align-items:center;}
.pc_content .list_content .right_content .path div:nth-child(2){margin-left:auto;}
.pc_content .list_content .right_content .path a{color:#dedede;}
.pc_content .list_content .right_content .nr{font-size:0.16rem;line-height:0.35rem;padding:0.35rem;}
.pc_content .list_content .right_content .nr .fbtit{
    font-size:0.2rem;
    text-align:center;
    padding:0.05rem;
}
.pc_content .list_content .right_content .nr .fb_date{
    font-size:0.18rem;
    text-align:center;
    color:#cdcdcd;
    padding:0.05rem;
}
.pc_content .list_content .right_content .suoxuan_lanmu{
    font-size:0.28rem;
    padding-top:0.45rem;
    text-align:center;
}
.pc_content .list_content .right_content .pro_list{
    padding-left:0.35rem;
    overflow:hidden;
     border-bottom:#dbdbdb solid 1px;
     padding-top:0.45rem;
}
.pc_content .list_content .right_content .pro_list ul li{
    float:left;
    width:30%;
    margin-right:0.35rem;
    margin-bottom:0.15rem;
}
.pc_content .list_content .right_content .pro_list ul li .slt{
    border:solid 1px #cdcdcd;
    width:100%;
    height:3.85rem;
    overflow:hidden;
}
.pc_content .list_content .right_content .pro_list ul li img{
    width:100%;
    height:3.85rem;
    vertical-align:top;
}
.pc_content .list_content .right_content .pro_list ul li .tit{
    font-size:0.16rem;
    text-align:center;
    line-height:0.5rem;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}

.pc_content .list_content .right_content .huanjing_list{
    padding-left:0.35rem;
    overflow:hidden;
     border-bottom:#dbdbdb solid 1px;
     padding-top:0.45rem;
}
.pc_content .list_content .right_content .huanjing_list ul li{
    float:left;
    width:30%;
    margin-right:0.35rem;
    margin-bottom:0.15rem;
}
.pc_content .list_content .right_content .huanjing_list ul li .slt{
    border:solid 1px #cdcdcd;
    overflow:hidden;
}
.pc_content .list_content .right_content .huanjing_list ul li img{
    width:100%;
    height:2.64rem;
    
    vertical-align:top;
}
.pc_content .list_content .right_content .huanjing_list ul li .tit{
    font-size:0.16rem;
    text-align:center;
    line-height:0.5rem;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}
.pc_content .list_content .right_content .news_list{
     padding-left:0.35rem;
     padding-right:0.35rem;
     overflow:hidden;
     padding-top:0.45rem;
}
.pc_content .list_content .right_content .news_list ul{
    border-top:#dbdbdb solid  1px;
     border-bottom:#dbdbdb solid 1px;
     padding-top:0.2rem;
}
.pc_content .list_content .right_content .news_list ul li{
    overflow:hidden;
    height:0.55rem;
    line-height:0.55rem;
    border-bottom:dashed #dbdbdb 1px;
}
.pc_content .list_content .right_content .news_list ul li.last{
     border-bottom:none;
}
.pc_content .list_content .right_content .news_list ul li .title{
    float:left;
    font-size:0.16rem;
    color:#2b2526;
    width:80%;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}
.pc_content .list_content .right_content .news_list ul li a:hover .title{
    font-weight:bold;
}
.pc_content .list_content .right_content .news_list ul li .date{
    float:right;
    font-size:0.16rem;
    color:#aaaaaa
}
.pc_content .list_content .right_content .shipin_list{
     padding-left:0.35rem;
     padding-right:0.35rem;
     overflow:hidden;
     padding-top:0.45rem;
}
.pc_content .list_content .right_content .shipin_list ul{
    border-top:#dbdbdb solid  1px;
     border-bottom:#dbdbdb solid 1px;
     padding-top:0.2rem;
}
.pc_content .list_content .right_content .shipin_list ul li{
    overflow:hidden;
    margin-bottom:0.3rem;
}
.pc_content .list_content .right_content .shipin_list ul li .left{
    float:left;
    width:23%;
    overflow:hidden;
}
.pc_content .list_content .right_content .shipin_list ul li .left img{
    vertical-align:top;
    width:100%;
    height:1.7rem;
}
.pc_content .list_content .right_content .shipin_list ul li .right{
    float:right;
    width:75%;
}
.pc_content .list_content .right_content .shipin_list ul li .right .tit{
    font-size:0.16rem;
    color:#2b2526;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    margin-top:0.05rem;
    margin-bottom:0.15rem;
}
/*.pc_content .list_content .right_content .shipin_list ul li a:hover .right .tit{
    font-weight:bold;
}*/
.pc_content .list_content .right_content .shipin_list ul li .right .txt{
    font-size:0.14rem;
    line-height:0.28rem;
    color:#979797;
    word-break:break-all;
    text-overflow:ellipsis;
    overflow:hidden;
    display:-webkit-box;
    -webkit-line-clamp:3;
    -webkit-box-orient:vertical;
     margin-bottom:0.15rem;
}
.pc_content .list_content .right_content .shipin_list ul li .right .date{
    font-size:0.16rem;
    color:#aaaaaa;
}

.pc_content .list_content .right_content .page{
    padding:0.3rem 0;
}
.pc_content .list_content .right_content .page ul{
    display:flex;
    justify-content:center;
}
.pc_content .list_content .right_content .page ul li{
    width:0.23rem;
    height:0.23rem;
    line-height:0.23rem;
    font-size:0.16rem;
    text-align:center;
    margin:0 0.05rem;
}
.pc_content .list_content .right_content .page ul li.ye{
    width:0.58rem;
}
.pc_content .list_content .right_content .page ul li.on{
    background:#e50017;
    border-radius:2px;
}
.pc_content .list_content .right_content .page ul li.on a{
    color:#fff;
}
.pc_content .list_content .right_content .Message{
    width:50%;
    margin:0 auto;
    padding-top:0.45rem;
}
.pc_content .list_content .right_content .Message .txt{
    font-size:0.18rem;
    line-height:0.28rem;
    text-align:center;
    padding:0.5rem 0;
}
.pc_content .list_content .right_content .Message .tx_box ul li{
    height:0.5rem;
    width:100%;
    background:#f5f5f5;
    border:solid #e3e3e3 1px;
    border-radius:3px;
    margin-bottom:0.2rem;
    overflow:hidden;
}
.pc_content .list_content .right_content .Message .tx_box ul li.text{
    height:2rem;
}
.pc_content .list_content .right_content .Message .tx_box ul li .tit{
    font-size:0.16rem;
    line-height:0.5rem;
    padding-left:0.2rem;
    float:left;
}
.pc_content .list_content .right_content .Message .tx_box ul li input{
    float:left;
    padding-left:0.2rem;
    height:0.4rem;
    margin-top:0.04rem;
    width:60%;
    background:#f5f5f5;
}
.pc_content .list_content .right_content .Message .tx_box ul li textarea{
    height:2rem;
    margin-top:0.18rem;
    width:60%;
    background:#f5f5f5;
}
.pc_content .list_content .right_content .Message .tx_box ul li img{
    float:right;
    height:0.5rem;
    width:1.06rem;
}
.pc_content .list_content .right_content .Message .btn{
    padding-bottom:0.3rem;
}
.pc_content .list_content .right_content .Message .btn ul{
    display:flex;
    justify-content:center;
}
.pc_content .list_content .right_content .Message .btn ul li{
    width:1.17rem;
    height:0.49rem;
    line-height:0.49rem;
    text-align:center;
    font-size:0.2rem;
    color:#fff;
    border-radius:3px;
    margin:0 0.1rem;
}
.pc_content .list_content .right_content .Message .btn ul li a{
    display:block;
    color:#fff;
}
.pc_content .list_content .right_content .Message .btn ul li.red{background:#ce0909}
.pc_content .list_content .right_content .Message .btn ul li.grey{background:#e2e2e2}
.pc_content .list_content .right_content .Message .btn ul li.grey a{color:#4d4d4d}



.sj .header{display:flex;background:#fff;overflow:hidden;height:1rem;line-height:1rem;position:relative;
            padding-left:10px;padding-right:10px;}
.sj .header .back{display:flex;}
.sj .header .back a{display:flex;align-items:center;}
.sj .header .back a img{width:200px;}
.sj .header .ss{width:14.21875%;margin-left:auto;display:flex;}
.sj .header .ss a{display:flex;}
.sj .header .ss a img{display:flex;}
.sj .header .menu{width:14.21875%;line-height:0;display:flex;}
.sj{position:relative;overflow:hidden;min-height:10rem;}
.sj .daoh{width:100%;position:absolute;top:1.08rem;right:0;bottom:0;z-index:10;background:#000;text-align:right;z-index:9;
           display:none;}
.sj .daoh a{color:#fff;font-size:0.28rem;display:block;padding-right:0.3rem;}
.sj .daoh .parents{box-sizing:border-box;width:28.4375%;position:absolute;right:0;
                    background-color:#e50017;top:0;bottom:0;color:#fff;}
.sj .daoh .parents .nLi{height:0.86rem;line-height:0.86rem;position:relative;}
.sj .daoh .parents .nLi a{color:#fff;}
.sj .daoh .parents .on{background-color:#000;}
.sj .daoh .parents .on a{color:#fff;}
.sj .daoh .sub{width:13rem;position:absolute;right:100%;display:none;background:#000;top:0;z-index:2;
                box-sizing:border-box;font-size:0.28rem;}
.sj .daoh .sub li{height:0.86rem;line-height:0.86rem;font-size:0.28rem;color:#fff;}
.sj .daoh .parents .on .sub li a{color:#fff;}
.sj .bg{width:13rem;position:absolute;right:5.187rem;top:0;bottom:0;background-color:#000;display:none;}
.sj .navmenu{width:100%;height:0.6rem;line-height:0.54rem;background:#ededed;overflow:hidden;display:flex;align-items:center;}
.sj .wrapper02{position:relative;height:0.54rem;line-height:0.54rem;width:100%;overflow:hidden;
                margin:0 auto;display:flex;justify-content:center;}
.sj .wrapper02 .scroller{width:100%;height:0.54rem;line-height:0.54rem;position:absolute;}
.sj .wrapper02 .scroller li{position:relative;z-index:10;float:left;text-align:center;}
.sj .wrapper02 .scroller li:last-child{background:0 none;}
.sj .wrapper02 .scroller li a{font-size:0.25rem;color:black;display:block;height:0.54rem;line-height:0.54rem;padding:0 0.2rem;}
.sj .wrapper02 .scroller li.cur a{color:black;font-weight:bold;}
.sj .navmenu1{width:100%;line-height:0.54rem;}
.sj .wrapper03{position:relative;height:0.54rem;line-height:0.54rem;width:100%;margin:0 auto;padding-left:3.125%;
                background:#3e3e3e;}
.sj .wrapper03 .scroller{width:100%;height:0.54rem;line-height:0.54rem;position:absolute;background:#3e3e3e;}
.sj .wrapper03 .scroller li{position:relative;z-index:10;float:left;text-align:center;}
.sj .wrapper03 .scroller li a{font-size:0.2rem;color:#fff;display:block;height:0.84rem;line-height:0.54rem;padding:0 0.2rem;}
.sj .wrapper03 .scroller li.cur a{color:#fff;background:url(../web_images/jian_04.png)no-repeat;background-size:0.45rem;
                                   background-position:center 0.52rem;}
.sj .sjsearch_box{width:100%;background:#fff;height:0.6rem;margin-top:0.05rem;padding-top:0.5rem;}
.sj .search_box{width:80%;margin:0 auto;height:0.5rem;border-radius:3px;border:solid 1px #d1d1d1;overflow:hidden;}
.sj .search_box input{float:left;width:70%;height:0.4rem;margin-top:0.05rem;font-size:0.2rem;color:#cacaca;line-height:0.4rem;padding-left:0.2rem;}
.sj .search_box .btn{float:right;width:0.35rem;height:0.35rem;font-size:0;margin:0.05rem;padding:0 0.2rem;}
.sj .search_box .btn img{width:100%;vertical-align:top;}
.sj .content{background:#fff;min-height:10rem;}
.sj .content .nr{width:93.75%;margin:0 auto;font-size:0.24rem;line-height:0.38rem;color:#000;padding:0.2rem 0;}
.sj .content .nr .fbtit{font-size:0.26rem;text-align:center;padding:0.05rem;}
.sj .content .nr .fb_date{font-size:0.22rem;text-align:center;color:#cdcdcd;padding:0.05rem;}
.sj .pro_list{border-bottom:solid #dbdbdb 1px;padding:0.2rem 0;}
.sj .pro_list ul{width:93.75%;margin:0 auto;display:flex;justify-content:space-between;flex-wrap:wrap;}
.sj .pro_list ul li{width:47.5%;background:#fff;}
.sj .pro_list ul li .slt{width:100%;}
.sj .pro_list ul li .slt img{width:100%;height:3.4rem;vertical-align:text-top;border:solid #cdcdcd 1px;}
.sj .pro_list ul li .title{font-size:0.22rem;text-align:center;padding-top:0.15rem;overflow:hidden;
                           text-overflow:ellipsis;white-space:nowrap;}
.sj .pro_list ul li .lanmu{font-size:0.2rem;color:#ababab;text-align:center;padding-bottom:0.15rem;overflow:hidden;
                           text-overflow:ellipsis;white-space:nowrap;}
.sj .huanjing_list{padding:0.2rem 0;border-bottom:solid #dbdbdb 1px;}
.sj .huanjing_list ul{width:93.75%;margin:0 auto;}
.sj .huanjing_list ul li{width:100%;margin-bottom:0.2rem;}
.sj .huanjing_list ul li img{width:100%;vertical-align:top;}
.sj .huanjing_list ul li .tit{font-size:0.24rem;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;text-align:center;
                              height:0.6rem;line-height:0.6rem;}

.sj .news_list{padding:0.2rem 0;border-bottom:solid #dbdbdb 1px;}
.sj .news_list ul{width:93.75%;margin:0 auto;}
.sj .news_list ul li{
    width:100%;
    margin-bottom:0.2rem;
    border-bottom:dashed #dbdbdb 1px;
}
.sj .news_list ul li .tit{
    font-size:0.24rem;
    line-height:0.38rem;
    word-break:break-all;
    text-overflow:ellipsis;
    overflow:hidden;
    display:-webkit-box;
    -webkit-line-clamp:2;
    -webkit-box-orient:vertical;
    margin-bottom:0.1rem;
}
.sj .news_list ul li .date{
    font-size:0.2rem;
    color:#c4c4c4;
    margin-bottom:0.2rem;
}
.sj .viedo_list{
    padding:0.2rem 0;
    border-bottom:solid #dbdbdb 1px;
}
.sj .viedo_list ul{
    width:93.75%;
    margin:0 auto;
}
.sj .viedo_list ul li{
    width:100%;
    margin-bottom:0.2rem;
    overflow:hidden;
}
.sj .viedo_list ul li .left{
    float:left;
    width:36.67%;
}
.sj .viedo_list ul li .left img{
   width:100%;
   vertical-align:top;
   height:1.38rem;
}
.sj .viedo_list ul li .right{
   float:right;
   width:60%;
   vertical-align:top;
   height:1.38rem;
   border-bottom:dashed #dbdbdb 1px;
}
.sj .viedo_list ul li .tit{
    font-size:0.24rem;
    line-height:0.38rem;
    word-break:break-all;
    text-overflow:ellipsis;
    overflow:hidden;
    display:-webkit-box;
    -webkit-line-clamp:2;
    -webkit-box-orient:vertical;
    margin-bottom:0.1rem;
}
.sj .viedo_list ul li .date{
    font-size:0.2rem;
    color:#c4c4c4;
    margin-bottom:0.2rem;
}
.sj .Message{
    width:93.75%;
    margin:0 auto;
}
.sj .Message .txt{
    font-size:0.24rem;
    line-height:0.35rem;
    text-align:center;
    padding:0.5rem 0;
}
.sj .Message .tx_box ul li{
    height:0.5rem;
    width:100%;
    background:#f5f5f5;
    border:solid #e3e3e3 1px;
    border-radius:3px;
    margin-bottom:0.2rem;
    overflow:hidden;
}
.sj .Message .tx_box ul li.text{
    height:2rem;
}
.sj .Message .tx_box ul li .tit{
    font-size:0.24rem;
    line-height:0.5rem;
    padding-left:0.2rem;
    float:left;
}
.sj .Message .tx_box ul li input{
    float:left;
    padding-left:0.2rem;
    height:0.4rem;
    margin-top:0.04rem;
    width:60%;
    background:#f5f5f5;
}
.sj .Message .tx_box ul li textarea{
    height:2rem;
    margin-top:0.11rem;
    width:65%;
    background:#f5f5f5;
}
.sj .Message .tx_box ul li img{
    float:right;
    height:0.5rem;
    width:1.06rem;
}
.sj .Message .btn{
    padding-bottom:0.3rem;
}
.sj .Message .btn ul{
    display:flex;
    justify-content:center;
}
.sj .Message .btn ul li{
    width:1.17rem;
    height:0.49rem;
    line-height:0.49rem;
    text-align:center;
    font-size:0.24rem;
    color:#fff;
    border-radius:3px;
    margin:0 0.1rem;
}
.sj .Message .btn ul li a{
    display:block;
    color:#fff;
}
.sj .Message .btn ul li.red{background:#ce0909}
.sj .Message .btn ul li.grey{background:#e2e2e2}
.sj .Message .btn ul li.grey a{color:#4d4d4d}
.sj .page{
    width:93.75%;
    margin:0 auto;
    padding:0.3rem 0;
}

.sj .page ul{
    display:flex;
    justify-content:center;
}
.sj .page ul li{
    width:0.23rem;
    height:0.23rem;
    line-height:0.23rem;
    font-size:0.2rem;
    text-align:center;
    margin:0 0.1rem;
}
.sj .page ul li.ye{
    width:0.68rem;
}
.sj .page ul li.on{
    background:#e50017;
    border-radius:2px;
}
.sj .page ul li.on a{
    color:#fff;
}
.sj .nr img{
    max-width:100%;
}
.sj .nr embed{
    max-width:100%;
}








