

<!--底部-->
<div class="boot">
    <div class="desktop-view martauto marbot40 fst16" style="margin-top:0.8rem">
        <div class="flex jc-center ai-center" style="color: white">凤城市环宇锅炉制造有限责任公司  版权所有     辽ICP备：0000000000号</div>
        <div class="flex jc-center ai-center martop10" style="color: #696969">鸭绿江网络 技术支持</div>
    </div>
    @*<div class="mobile-view" style="margin-top:auto;margin-bottom:40px;text-align:center">
        <div class="dp-flex justify-content-center align-content-center" style="color: white">凤城市环宇锅炉制造有限责任公司  版权所有<br>辽ICP备：0000000000号</div>
        <div class="dp-flex justify-content-center align-content-center mt-3" style="color: #696969">鸭绿江网络 技术支持</div>
    </div>*@
</div>