<div class="wyc_footer">
    <ul>
        <li><a href="/h5/"><img src="/web_images/h5/foot1.jpg" alt="" /><h3>首页</h3></a></li>
        <li><a href="@ViewBag.pro_nav"><img src="/web_images/h5/foot2.jpg" alt="" /><h3>产品</h3></a></li>
        <li><a href="/h5/myshopcart"><img src="/web_images/h5/foot3.jpg" alt="" /><h3>购物车</h3></a></li>
        <li><a href="/h5/centre"><img src="/web_images/h5/foot4.jpg" alt="" /><h3>我的</h3></a></li>
    </ul>
</div>
<div class="wyc_onephone"><a href="tel:@ViewBag.tel"><img src="/web_images/h5/wyc_phone.png" alt="一键拨号" /></a></div>

<script src="http://user.ichat800.com/kf.php?cid=6611688&mod=im&code=863f9fc1ee9fee9c11d425aed68a8cc8&mb=1" type="text/javascript"></script>